* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}


body {
    background-color: black;
    font-family: sans-serif;
}

a {
    color: inherit;
}

nav {
    padding: 15px;
    display: flex;
    align-items: center;
    gap: 60px;
}

.nav__logo {
    font-size: 40px;
    font-weight: 600;
    color: #F2AD43;
}

.nav__list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.nav__item {
    border: solid transparent;
    background-color: #F2AD43;
    color: black;
    padding: 10px 25px;
    border-radius: 25px;
    font-size: 20px;
    transition: .3s;
}

.nav__item:hover {
    background-color: transparent;
    color: #F2AD43;
    border-color: #F2AD43;
}

.nature-wrapp {
    width: 28vw;
    height: 75vh;
    margin: 70px auto 0;
    border-radius: 50% 50% 10% 10%;
    background-color: #F2AD43;
    position: relative;
    overflow: hidden;
    z-index: 11;
    animation: sun-moon 30s infinite;
}

@keyframes sun-moon {
    0% {
        top: 80%;
    }

    10% {
        top: 20%;
        background-color: #F2AD43;
    }

    30% {
        top: 20%;
        background-color: #F2AD43;
    }

    40% {
        top: 80%;
    }
    50% {
        top: 80%;
    }
    80% {
        top: 20%;
        background-color: rgb(96, 94, 94);
    }
    90% {
        top: 20%;
        background-color: rgb(96, 94, 94);
    }
    100% {
        top: 80%;
    }
}

.semicircle-left {
    position: absolute;
    width: 95%;
    height: 75%;
    bottom: -25%;
    left: -40%;
    border-radius: 0 50% 50% 0;
    background-color: #E08027;
    z-index: 22;
}

.semicircle-right {
    position: absolute;
    width: 95%;
    height: 75%;
    bottom: -25%;
    right: -35%;
    border-radius: 50% 0 0 50%;
    background: #824B20;
    z-index: 44;
}

.sun {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    right: 40%;
    background-color: #FFF58F;
    animation: sun 30s infinite;
}

@keyframes sun {
    0% {
        top: 80%;
    }

    10% {
        top: 20%;
        background-color: #FFF58F;
    }

    30% {
        top: 20%;
        background-color: #FFF58F;
    }

    40% {
        top: 80%;
    }
    50% {
        top: 20%;
        background-color: rgb(207, 205, 205);
    }
    80% {
        top: 20%;
        background-color: rgb(207, 205, 205);
    }
    90% {
        top: 80%;
    }
    100% {
        top: 80%;
    }
}